<% if current_user.nil? %>
    <fieldset id="loginBar">
      <div class="container">
             <%= form_tag login_path do %>
              <div class="field">
                <%= label_tag :username %>
                <input class="loginText" type="text" name="username" id="username">
              </div>
              <div class="field">
                <%= label_tag :password %>
                <input class="loginText" type="password" name="password" id="password">
              </div>
              <div class="field">
                <input id="loginButton" name="commit" type="submit" value="Log in">
              </div>
              <br><%= link_to "Recuperar contraseña", :action => "recover_password", :controller => "home" %> | <%= link_to "Registrate!", signup_path %> ¡es gratis!
            <% end %>
      </div>
    </fieldset>
<% end %>
<div class="clear"></div>
