          <li><%= link_to "Inicio",index_path %></li>
          <li><%= link_to "Reclamos",complaints_path %></li>
          <li><%= link_to "Causas", causes_path %> </li>
      <% if current_user.nil? == false %>
          <li><%= link_to "Abogados",lawyers_path %></li>
          <li><%= link_to "API", api_user_path(current_user) %> </li>
          <% if current_is_admin %>
            <li><%= link_to "Administración", admin_path , {:title =>"Panel de Administración"} %></li>
          <%end%>
          <li><%= link_to "Mi perfil", current_user , {:title =>"Mi perfil"} %></li>
        <li>
        <% if current_is_user %>
          <%= link_to "Invitaciones(#{invitations})", :controller => "users", :action => "my_invitations", :id => current_user.id %>
        <% end %>
        </li>
        <li><%= link_to "Mensajes ("+get_msg_count.to_s+")",:controller => "messages", :action => "index"%></li>
        <li><%= link_to "Logout",logout_path , {:title =>"Desconectarse"}%></li>
      <% end %>
      <div class="clear"></div>
