<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Reclamos" %></title>
    <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
  </head>
  <body>
    <!-- header -->
    <div class="fixposition">
      <div id="header-wrapper">
        <header id="header-content">
          <nav class="menu" id="menu">
            <ul>
              <%= render 'layouts/navigation' %>
            </ul>
          </nav>
          <%= render 'layouts/header' %>
        </header>
      </div>
    </div>
    <!-- end header -->
    <div id="wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
