<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<!--
  <div class="field">
    <%= f.label :state %><br />
    <%= f.number_field :state %>
  </div>
  
-->

  <div class="label">
    Elige un invitado
  </div>
  <div class="field">
    <!-- <%= options_from_collection_for_select(User.all, :id, :username) %> -->

    <%= f.collection_select(:invited_id, @users_except_current, :id, :username) %>    
  </div>
  
  <div class="label">
    Elige una causa
  </div>
  
  <div class="field">
    <!-- <%= options_from_collection_for_select(User.all, :id, :username) %> -->

    <%= f.collection_select(:cause_id, Cause.all, :id, :name) %>    
  </div>
  
  
  <div class=
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
