

<!--
<p>
  <b>State:</b>
  <%= @invitation.state %>
</p>

-->

<p>
  <b>Invitador:</b>
  <%= @inviting.username %>
</p>
<p>
  <b>Invitado:</b>
  <%= @invited.username %>
</p>

<p>
  <b>Causa:</b>
  <%= @cause.name %>
</p>
<!--
<p>
  <% if @invitation.state == 1 %>
     La invitación ya fue aceptada
   <% elsif @invitation.state == -1 %>
      La invitación fue rechazada
   <%else %>
      La invitación aún no ha sido respondida
   <%end %>
 </p>
 -->

<!--
<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
-->
