<%= form_tag("post_prueba", :method => "post") do %>
  <%= label_tag(:algo, "Postear") %>
  <%= text_field_tag(:algo) %><br>
  <%= submit_tag("Ir") %>
<% end %>

<%= link_to "post_prueba?algo=funciona", "post_prueba?algo=funciona", :method => 'post' %>
