<%= form_tag("search", :method => "get") do %>
  <%= label_tag(:method, "Método") %>
  <%= select_tag(:method, options_for_select(['post','get','put','delete'])) %><br>
  <%= label_tag(:path, "Url path") %>
  <%= text_field_tag(:path) %><br>
  <%= label_tag(:token, "Access token") %>
  <%= text_field_tag(:token) %><br>
  <%= label_tag(:hash, "Parameters hash") %>
  <%= text_field_tag(:hash) %><br>
  <%= submit_tag("Ir") %>
<% end %>
