<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Felicitaciones, Abogado <%= @lawyer.first_name %></h1>
    <p>
      Tu postulación a reclamos de café ha sido aceptada.
    </p>
  </body>
</html>
