2222221qBienvenido a Reclamos de Café, Abogado <%= @lawyer.first_name %>
===============================================
 
 Te has creado una cuenta exitósamente, tu username de abogado es: <%= @lawyer.username %>.
