<div class='complaint'>

<% if flash[:notice] %>
  <p> <class="notice"><%= flash[:notice] %></p>
<% end %>

<%= form_for(@complaint,:html => { :multipart => true }) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'El problema, ¿ocurre con frecuencia?' %>
    <%= f.select :frequent,{ 'Una vez'=>false, 'Varias veces'=>true } %>
  </div>
  <div class="field" id='problem_date'>
    <%= f.label :problem_date,'Fecha del problema' %>
    <%= f.date_select :problem_date %>
  </div>
  <div class="field">
    <%= f.label :name,'Titulo' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company_name,'Empresa'%> 
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label 'Descripcion' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= label_tag 'Evidencias'%>
    <%= submit_tag "Agregar nuevo archivo", :type => 'button',:id => 'upload', :class => 'btn btn-success btn-small' %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar Reclamo', :class => 'btn btn-primary btn-small' %>
  </div>
<% end %>

</div>
