  <% if @post %>
  <div class='post'>
    <div class='post-info'><span class='creator_name'><%= link_to @post.username,get_account_by_username(@post.username) %></span> hace <%= time_ago_in_words(@post.created_at) %></div>
    <p class='post-body'>
      <%= @post.text %>
    </p>
  </div>
  <% end %>
