<% if !@existing_tag %>
  <% if @length != 0%>
    <%= " " %>
  <% end %>
  <% if current_user==@complaint.creator %>
      <%= link_to @tag.text,complaints_path(:tag => @tag.text) %>
  <% else %>
      <%= link_to @tag.text,complaints_path(:tag => @tag.text) %>
  <% end %>
<% end %>
