<h3>Agregar tag </h3>
<%= form_tag(tag_added_complaints_path(:complaint_id => @complaint.id), :method => "post") do %>
  <%= label_tag(:new_tag, "Nuevo tag") %>
  <%= text_field_tag(:new_tag) %>
  <%= submit_tag("Agregar") %>
<% end %>
