
<% if (flash[:notice]) %>
  <%= flash[:notice] %>
<% end %>

<p> Para que tu reclamo pueda ser apoyado y defendido, debes asignarle una causa. </p>
<p>¿Deseas asignarle ahora una causa?</p>

<p><%= link_to "Crear nueva causa para el reclamo", new_with_complaint_causes_url(:complaint_id => @complaint.id) %></p>




<p><%= link_to "Agregarlo a una causa existente", select_existing_cause_complaints_url(:complaint_id => @complaint.id) %></p>
