params <%= params %><br>
token <%= @token %><br>
params name <%= params[:name] %><br>
company name <%= params[:company_name] %><br>
company id <%= Company.find_by_name(params[:company_name]).id %><br>
creator <%= User.find_by_access_token(@token) %><br>
hash <%= @p%>
