<h1>Reclamos</h1>
  <% if session[:account]=='user' %>
      <%= link_to 'Crear nuevo reclamo', new_complaint_path,:class => 'btn btn-primary btn-large' %>
  <% end %>
  <%= form_tag(complaints_path, :method => "get") do %>
    <%= text_field_tag(:tag) %>
    <%= submit_tag("Buscar Tag") %>
  <% end %>
  
  <% if current_is_user %>
    <div><%= link_to "Mis Reclamos", complaints_path(:my_complaints => true) %></div>
    <div><%= link_to "Todos los reclamos", complaints_path %></div>
  <% end %>

  <ul id="complaints_list">
    <% @complaints.each do |complaint| %>
      <li>
        <dl class="complaints">
          <span class="complaint_name">
            <%= link_to complaint.name,complaint, :title => 'Ver reclamo' %>
          </span>
          <span class="right"> 
            <% if complaint.views.nil? %>
              Visto 0 veces
            <% else %>
              Visto <%= complaint.views %> veces
            <% end %>
          </span>
          
          <% if current_is_admin==true or (current_user==complaint.creator) %>
          <%= link_to (image_tag('eliminar.gif', :size => '20x20')) , complaint, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <br/>
          por <strong><%= link_to complaint.creator.username,complaint.creator, :title =>'Ver creador' %></strong> >> <%= I18n.localize(complaint.created_at,:format => :short) %>
          <br>
          <i class='tags-i' id='tags-i'>Tags: 
            <% if complaint.tags.length > 0 %>
              <% complaint.tags.each do |t| %>
                <%= link_to t.text,complaints_path(:tag => t.text) %>
              <% end %>
            <% else %>
              no tiene
            <% end %>
          </i>
        </dl>
      </li>
    <% end %>
  </ul>
