<p> Recuerda que solo puedes asociarlo a una causa de la misma empresa. </p>


<% if @valid_causes %>
  <p> Seleccione la causa a la que lo quiere asociar </p>

  <%= form_tag(join_to_existing_cause_complaints_url(:complaint_id => @complaint.id), :method => "put") do %>
    <%= collection_select(:cause, :id, @complaint.company.causes, :id, :name) %>
    <%= submit_tag("Asociar a causa") %>
  <% end %>
  
<% else %>

<p> No hay causas para esa empresa. Te recomendamos que crees una causa nueva para tu reclamo </p>

<% end %>
