<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class='complaint'>
  <div class='complaint-container sombra-linda'>
    <span class='complaint-subtitle'>
      <%=link_to @complaint.company_name,@complaint.company %> - 
    </span>
    <span class='complaint-title'>
      <%= @complaint.name %>
    </span>
    <p class='complaint-info'>
      <span class='complaint-author'>
        por <span class="creator_name"><%= link_to @complaint.creator.username,@complaint.creator, :title =>'Ver creador' %></span>
        <%= I18n.localize(@complaint.created_at,:format => :long) %>
      </span>
        <span class='complaint-btn'>
      <% if current_is_admin==true or (current_user==@complaint.creator) %>
        <%= link_to 'Editar', edit_complaint_path(@complaint),:class => 'btn btn-primary btn-small' %>
        <% if @cause.nil? %>
          <%= link_to 'Asociar Causa', assign_cause_complaints_url(:complaint_id => @complaint.id),:class => 'btn btn-primary btn-small' %>
        <% end %>
        <%= link_to 'Eliminar', @complaint,method: :delete,:class => 'btn btn-danger btn-small' %>
      <% end %>
    </span>
    </p>

    <p class='complaint-description'><%= @complaint.description %></p>
    
    <% if @cause %>
      <h2 class='complaint-attach'>Causa asociada</h2>
      <p class='complaint-cause'><%= link_to @cause.name,@cause %></p>
    <% end %>
  </div>
  
  <div class='complaint-tags-div sombra-linda'>
    <h2 class='complaint-attach'>Archivos adjuntos</h2>
      <% if @complaint.documents.length>0 then %>
        <ul class='complaint-attach-list'>
          <% @complaint.documents.each do |d| %>
            <li><%= link_to d.name,'../assets/uploads/'+d.path %></li>
          <% end %>
        </ul>
      <% else %>
        No tiene archivos adjuntos
      <% end %>
    </div>
  
  <div class='complaint-tags-div'>
    <div class='complaint-tags' id='tags_list'>
      <% if current_user == @complaint.creator %>
          <i class='tags-i' id='tags-i'>Tags: 
            <% if @complaint.tags.length > 0 %>
              <% @complaint.tags.each do |t| %>
                <%= link_to t.text,complaints_path(:tag => t.text) %>
              <% end %>
            <% end %>
          </i>
      <% else %>
          <i class='tags-i' id='tags-i'>Tags: 
            <% if @complaint.tags.length > 0 %>
              <% @complaint.tags.each do |t| %>
                <%= link_to t.text,complaints_path(:tag => t.text) %>
              <% end %>
            <% else %>
              no tiene
            <% end %>
          </i>
      <% end %>
      </div>
    </div>
    
    <% if current_user == @complaint.creator %>
      <div id='new-tag-buttons'>
        <div id='new-tag-div'>
      <%= form_tag(tag_added_complaints_path(:complaint_id => @complaint.id), :method => "post", :remote => true,:id => 'create_tag') do %>
          <%= text_field_tag :new_tag,'',:placeholder => 'Nombre tag',:class=>'left' %>
          <%= submit_tag "Agregar",:class=>'btn btn-primary btn-small left' %>
      <% end %>
        </div>
        <span id='new_tag_invalid'></span>
        <input type='button' class='btn btn-primary btn-small' id='new-tag-button' value='Nuevo tag'>
        <div class='clear'></div>
      </div>
    <% end %>
      <div class="fb-like" data-href="/reclamos_cafe2/complaints/<%=@complaint.id%>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>  
  
  <div id='posts_list' class='posts_list sombra-linda'>
    <!-- LISTA POSTS -->
    <% if @complaint.posts then %>
      <h2 class='comentario'>Comentarios</h2>
      <% @complaint.posts.each do |p| %>
        <div class='post'>
          <div class='post-info'>
            <div class='left'>
            <span class='complaint-author'>
              <span class='creator_name'><%= link_to p.username,get_account_by_username(p.username) %></span> hace <%= time_ago_in_words(p.created_at) %>
            </span>
            </div>
            <%= form_tag(post_removed_complaints_path(:delete_post => p.id), :method => "post") do %>
              <%= submit_tag 'X',:class=>'btn btn-danger btn-small right',:title=>'Eliminar'%>
            <% end %>
            <div class="clear"></div>
          </div>
          <p class='post-body'>
            <%= p.text %>
          </p>
        </div>
      <% end %>
    <% end %>

    <!-- LISTA POSTS -->
  </div>
  <!-- POST NUEVO -->
  <% if current_user %>
    <div class='new_post'>
      <%= form_tag(post_added_complaints_path(:complaint_id => @complaint.id), :method => "post", :remote => true,:id => 'create_comment') do %>
          <%= text_area_tag :new_post,'',:placeholder => 'Escribe un comentario',:id=>'new_post',:rows => 10, :cols => 60 %><br>
          <%= submit_tag "Enviar comentario",:class=>'btn btn-primary btn-small' %> <span id='new_post_invalid'></span>
      <% end %>
    </div>
  <% end %>
  <!-- POST NUEVO -->
</div>
