
<% if @token == nil %>
Aun no has usado la API. Para usarla necesitas <%= link_to "generar un token", generate_token_user_url(current_user) %>

<% else %>
<%= @user.first_name %>, tu access_token para la API es <%= @token %>
<!--
<p>
Para acceder a todos los reclamos debes ingresar la URL
<%= link_to "http://localhost:3000/complaints.json", "http://localhost:3000/complaints.json" %>
</p>
<p>
Para acceder solo a los reclamos creados por ti deber ingresar la URL
http://localhost:3000/complaints.json? + access_token=[TU ACCESS TOKEN]<br>
<%= link_to "http://localhost:3000/complaints.json?access_token=" + @token.to_s , "http://localhost:3000/complaints.json?access_token=" + @token.to_s %>
</p>-->
<% end %>
