<h1> Cambiar contraseña </h2>
<p> Usuario: <%= @user.username %> </p>

<%= form_tag(:controller => "users", :action => "update_password", :id => @user.id, :code_number => @code_number) do %>
  <div class="field">
    <%= label_tag :code_number,  "Codigo de recuperacion" %><br />
    <%= text_field_tag :code_number %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">  
    <%= submit_tag("Cambiar contrasenia") %>
  </div>
<% end %>
