<% if current_is_admin == true %>
  <%= render "home/admin_header" %>
  <div id="admin_content">
<% end %>

<% if @users.count > 0 %>

  <h1>Usuarios</h1>

  <table>
    <tr>
      <th>Username</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
    <% if current_is_admin == true %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    <% if current_is_admin == true %>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<% if current_is_admin == true %>
  </div>
  <%= render "home/admin_footer" %>
<% end %>
