<div>
  <%= link_to "Invitar usuario ", new_invitation_path, :class=>'btn btn-large btn-success', :title => 'Invita a un usuario a apoyar causas!' %>
</div>
<!--<div>
  <%= link_to "Invitar abogado ", new_lawyer_invitation_path, :class=>'btn btn-large btn-success' %> Invita a un abogado a defender una causa.
<div>-->
<h1> Invitaciones pendientes </h1>


<h2> Enviadas </h2>

<% if !@sent_is_empty %>
  <p> Has invitado usarios a apoyar las siguientes causas </p>
  <% @sent.each do |invitation| %>
  
  <%if invitation.visible_to_inviting %>
    <table>
      <tr>
        <td>
        <%= link_to "#{invitation.cause.name}", invitation.cause %>
        Enviada a <%= link_to "#{invitation.invited.username}", invitation.invited %> 
        <% if invitation.state == 0 %>
           Invitación pendiente    
          <% elsif invitation.state == 1 %>
            Invitación aceptada <%= link_to "Borrar de la lista", hide_sent_invitation_path(invitation) %>
          <% else %>
            Invitación rechazada <%= link_to "Borrar de la lista", hide_sent_invitation_path(invitation) %>
          
       </td>
      </tr>
      
    </table>
    <% end %>
  <%end %>  
<% end %>
<% else %>
  <p> No tienes invitaciones enviadas pendientes </p>
<% end %>




<h2> Recibidas</h2>


<% if !@received_is_empty %>
  <p> Te han invitado a apoyar las siguientes causas </p>
  <% @received.each do |invitation| %>
    <%if invitation.visible_to_invited %>  
      <table>
        <tr>
          <td>
            <%= link_to "#{invitation.cause.name}", invitation.cause %>
            Enviada por <%= link_to "#{invitation.inviting.username}", invitation.inviting %> 
            <% if invitation.state == 0 %>
              <%= link_to "Aceptar", accept_invitation_path(invitation)  %> <%= link_to "Rechazar", reject_invitation_path(invitation)  %>    
            <% elsif invitation.state == 1%>
              Invitación aceptada <%= link_to "Borrar de la lista", hide_received_invitation_path(invitation) %>
            <% else %>
              Invitación rechazada <%= link_to "Borrar de la lista", hide_received_invitation_path(invitation)%>
            <% end %>
         </td>
        </tr>
      <table>
    <% end %>
  <% end %>
<% else %>
  <p> No tienes invitaciones recibidas pendientes </p>
<% end %>


