<% if current_is_admin == true %>
  <%= render "home/admin_header" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_is_admin==true or (current_user==@user) %>
  <%= link_to 'Editar', edit_user_path(@user),  :class => 'btn btn-primary btn-small' %>
<% end %>

<% if current_is_admin == true %>
  <%= render "home/admin_footer" %>
<% end %>
