
<!--
nueva pass <%= @new_password %> <br>
codigo <%= @code %> <br>
-->

<% if @contains && !@modificado %>
El codigo es correcto, pero no se modifica la pass
<% elsif @modificado %>
La contraseña se ha modificado
<% else %>
 El código es inválido
<% end %>
