<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Han aceptado tu invitacion</h1>
    <p>
      El usuario <%= @invited.username %> ha aceptado tu invitacion para apoyar la causa
      <%= @cause.name %>.
    </p>
  </body>
</html>
