<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Has recibido una invitación</h1>
    <p>
      El usuario <%= @inviting.username %> te ha enviado una invitación para apoyar la causa
      <%= @cause.name %>.
    </p>
  </body>
</html>
