<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p> Estimad@ <%= @user.username %>, el código para cambiar tu contraseña es  <%= @recovery_code %>. 
     </p>
  </body>
</html>
