Bienvenido a Reclamos de Café, Empresa <%= @company.name %>
===============================================
 
 Te has creado una cuenta exitósamente, tu username de empresa es: <%= @company.username %>.
