<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a Reclamos de Café, Empresa <%= @company.name %></h1>
    <p>
      Te has creado una cuenta exitosamente,
      tu username de empresa es: <%= @company.username %>.<br/>
    </p>
  </body>
</html>
