<ul id="admin_menu">
  <li><h1>Menu</h1></li>
  <li><%= link_to 'Aceptar Abogados',lawyers_accept_path %></li>
  <li><%= link_to 'Aceptar Empresas',companies_accept_path %></li>
  <li><%= link_to 'Usuarios',users_path %></li>
  <li><%= link_to 'Abogados',lawyers_path %></li>
</ul>
