<%= form_for @company,:url => { :action=>"signup" }  do |f| %><% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" value="company" name="account_type">  
  <div class="field">
    <p>Debe seleccionar el nombre de la empresa que va a representar.</p>
    <div id="signup_company_name">
      <%= f.label 'Empresa' %><br />
      <input type="text" name="company_name" id="post_company_name"/>
    </div>
  </div>
  <div class="field">
    <%= f.label 'Email responsable' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Username de la Empresa' %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label 'Contraseña' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar' %>
  </div>
  
  
<% end %>
