  <%= form_for @lawyer,:url => { :action=>"signup" }  do |f| %>
      <% if @lawyer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lawyer.errors.count, "error") %> prohibited this lawyer from being saved:</h2>
          <ul>
          <% @lawyer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <input type="hidden" value="lawyer" name="account_type">
      <div class="field">
        <%= f.label :email,'Email' %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :username,'Username' %><br />
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :password,'Contraseña' %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :first_name,'Nombre' %><br />
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name,'Apellido' %><br />
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :curriculum_path,'Curriculum' %><br />
        <%= f.file_field :curriculum_path, :accept =>'application/pdf' %>
      </div>
      <div class="actions">
        <%= f.submit "Enviar"%>
      </div>
    <% end %>
