  <%= form_for @user,:url => { :action=>"signup" } do |f| %>
        <input type="hidden" value="user" name="account_type">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :email ,'Email' %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :first_name, 'Nombre' %><br />
        <%= f.text_field :first_name %>
      </div>
      <div class="field">
        <%= f.label :last_name, 'Apellido' %><br />
        <%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :password, 'Contraseña' %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :username,'Username' %><br />
        <%= f.text_field :username %>
      </div>
      <div class="actions">
        <%= f.submit "Enviar" %>
      </div>
    <% end %>
