  <div id="login_form">
    <h2>Ingresa con tu nombre de usuario y contraseña</h2>

    <%= form_tag :url => login_path %>
      <div class="field">
        <select name="tipo_cuenta">
          <option>Usuario</option>
          <option>Abogado</option>
          <option>Empresa</option>
        </select>
      </div>
      <div class="field">
        <%= label_tag 'username' %>
        <%= text_field_tag 'username', :placeholder => 'ej. raulmt' %>
      </div>
      <div class="field">
        <%= label_tag 'password' %>
        <%= password_field_tag 'password' %>
      </div>
        <%= submit_tag 'Login' %>
    <% end %>
  </div>
