<h1> Recuperar contraseña </h1>
<p> Escribe a continuación tu nombre de usuario y te enviaremos un email con un código para recuperar tu contraseña</p>

<%= form_tag(:controller => "home", :action => "send_password") do %>
  <%= label_tag(:username, "Nombre de usuario") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Enviar") %>
<% end %>


<p> Si ya recibiste tu código, puedes cambiar tu contraseña <%= link_to("aquí", :controller => "home", :action => "set_user_to_change_password") %></p>
