<%= form_tag(:controller => 'home', :action => 'go_to_user_change_password') do %>
  <%= label_tag(:username, "Nombre de usuario") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Enviar") %>
<% end %>
