<% if flash[:notice] %>
  <div class='notice'><%= flash[:notice] %></div>
<% else %>
<h1>Formulario de registro</h1>

Seleccione el tipo de cuenta:

  <%= select_tag(:user_type, options_for_select(options_for_select([['Usuario','user'], ['Abogado','lawyer'],['Empresa','company']], @selection))) %>

  <div id='signup'>
  
  </div>

  <!-- Usuarios -->
  <div id="signup_user">
    <%= render 'user_form' %>
  </div>
  <!-- Abogados -->
  <div id="signup_lawyer">
    <%= render 'lawyer_form' %>
  </div>
  <!-- Empresa -->
  <div id="signup_company">
    <%= render 'company_form' %>
  </div>
<% end %>
