<%= form_tag create_with_complaint_causes_url do %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <strong>Empresa :</strong> <%= @company.name %>
  <%= hidden_field_tag :complaint_id, @complaint.id %>
  <%= hidden_field_tag :company_id, @company.id %> 
  <div class="field">
    <strong><%= label_tag :name,'Nombre de la causa' %></strong><br />
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <strong><%= label_tag :description,'Descripción' %></strong><br />
    <%= text_area_tag :description %>
  </div>
  <div class="actions">
    <%= submit_tag 'Enviar' %>
  </div>
<% end %>
