<h1>Causas</h1>

  <ul id='complaints_list'>
    <% @causes.each do |c| %>
      <li>
        <dl class="complaints">
          <span class="complaint_name"><%= link_to c.name,c, :title => 'Ver reclamo' %></span>
          <% if current_is_admin==true or (current_user==c.creator) %>
          <%= link_to (image_tag('eliminar.gif', :size => '20x20')) , c, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <br/>
            <% if c.users %>
              <span class='btn btn-primary btn-small'><%= c.users.length %> apoyo</span>
            <% end %>
            <% if c.creator %>
              por <strong><%= link_to c.creator.username,c.creator, :title =>'Ver creador' %></strong> >> <%= c.created_at %>
            <% else %>
              <%= I18n.localize(c.created_at,:format => :long) %>
            <% end %>
        </dl>
      </li>
    <% end %>
  </ul>
