<div class='complaint'>
  <div class='complaint-container'>
      <span class='complaint-title'>
        <strong><%= @cause.name %></strong>
      </span>
      <p class='cause-info'>
        <span class='complaint-author'>
           <span class="creator_name">
              <% if @cause.creator != nil %>
                por <%= link_to @cause.creator.username, @cause.creator %>
              <% else %>
                El creador de esta causa ha abandonado la comunidad.
              <% end %>
           </span>
           <%= I18n.localize(@cause.created_at,:format => :long) %>
        </span>
        <span>
          <% if current_is_user %>
            <% if !@supports %>
              <%= link_to "Apoyar", support_cause_url(@cause), :class=> 'btn btn-primary btn-small'%>
            <% elsif @cause.creator == current_user %>
              <%= link_to 'Eliminar causa', @cause,method: :delete,:class=>'btn btn-danger btn-small'%>
              <% if @cause.state != 2 %>
                <%= link_to 'Marcar solucionado',solve_cause_path(@cause),:method=>:post,:class=>'btn btn-success btn-small' %>
              <% else %>
                <strong>Causa SOLUCIONADA</strong>
              <% end %>
            <% else %>
              <%= link_to "Desapoyar", unsupport_cause_url(@cause) %>
            <% end %>
          <% end %>
          <% if current_is_lawyer %>
            <% if @cause.lawyer == current_user %>
              <%=  "Abandonar" %>
            <% elsif @lawyer == nil %>
              <%= link_to "Defender", defend_cause_path(@cause), :method => :post, :class => 'btn btn-primary btn-small' %>
            <% end %>
          <% end %>
        </span>
      </p>
  </div>
</div>

<div id="cause-tabs">
    <ul>
        <li><a href="#tabs-1">Descripción</a></li>
        <li><a href="#tabs-2">Apoyos</a></li>
        <li><a href="#tabs-4">Reclamos asociados</a></li>
        <% if @cause.creator == current_user && @cause.lawyer == nil %>
          <li><a href="#tabs-3">Solicitudes de defensa</a></li>
        <% end %>
        <% if @lawyer == nil && current_is_lawyer %>
          <li><a href="#tabs-6">Defender</a></li>
        <% end %>
        <% if @cause.lawyer != nil %>
          <li><a href="#tabs-7">Defender</a></li>
        <% end %>
    </ul>
    <!-- TAB 1 -->
    <div id="tabs-1">
      <div class='complaint-container'>
            <span class='complaint_name'><strong>Descripcion</strong></span>
            <p class='complaint-description'>
              <%= @cause.description %>
            </p>
            <span class='complaint_name'><strong>Empresa</strong></span>
            <p class='complaint-description'>
              <%= link_to @cause.company.name,@cause.company %>
            </p>
      </div>
    </div>
    <!-- TAB 2 -->
    <div id="tabs-2">
        <% list_users(@users) do |u|%>
          <strong class="red"><%= link_to u.username, u %></strong><br>
        <% end %>
    </div>
    <!-- TAB 4 -->
    <div id="tabs-4">
        <% list_complaints(@complaints) do |c|%>
            <strong><%= link_to c.name, c %></strong><br>
        <% end %>
    </div>
    <!-- TAB 5 -->
    <% if @cause.creator == current_user && @cause.lawyer == nil %>
      <div id="tabs-3">
        <% if @cause.requesting_lawyers != nil && !@cause.requesting_lawyers.empty? %>
          Los siguientes abogados han solicitado defender esta causa
          <% @cause.requesting_lawyers.each do |l| %>
            <strong style="color:red"><%= link_to l.username, l %> <%= link_to "Aceptar", defend_cause_lawyer_path(l, :cause_id => @cause.id), :method => :post,:class=>"red" %></strong> 
        <% end %>
      <% else %>
        No hay abogados solicitando defender esta causa. 
        <% if current_user == @cause.creator %>
          Vea la <%= link_to "lista de abogados", lawyers_url,:class=>"red" %> para invitar abogados defender esta causa.
        <% end %>
      <% end %> 
      </div>
    <% end %>
    <!-- TAB 6 -->
    <div id="tabs-6">
      <% if @lawyer == nil && current_is_lawyer %>
        <% if @exists_request %>
          Tienes una petición de defensa enviada
        <%else %>
          Ningún abogado defiende esta causa. Usted puede ofrecerle su defensa y el creador de la causa podrá aceptarla o rechazarla. 
        <%= link_to "Enviar solicitud de defensa", defend_cause_path(@cause),:method => :post,:class=>'red' %>
        <%end%>
      <%end%>
    </div>
    <!-- TAB 7 -->
    <% if @cause.lawyer != nil %>
      <div id="tabs-7">
        El abogado defensor de esta causa es <%= link_to @lawyer.username, @lawyer,:class=>"red" %>. <%= link_to "Despedir", stop_defending_cause_lawyer_path(@lawyer, :cause_id => @cause.id), :method => :post, :class=>"red" %>
      </div>
    <% end %>
</div>
