  <h1>Mensajes</h1>
  <% if @chats.count == 0 %>
    No tienes ningún mensaje<br>
  <% end %>
  <%= link_to 'Nuevo mensaje',new_message_path,:class => 'btn btn-primary btn-large' %>
  <% if @chats.count> 0 %>
  <ul id="complaints_list">
    <% @chats.each do |c| %>
      <li><dl class="complaints">
          <span class="complaint_name">
            <%= link_to c.chat_room.name,'messages/'+c.chat_room.id.to_s%>
          </span>
          <span class="right">
            <% if c.news > 0 then %>
              <%= c.news %><% if c.news == 1 %> nuevo mensaje <% else %> nuevos mensajes <% end %>
            <% else %>
              No hay nuevos mensajes
            <% end %>
          </span><br>
          Junto a
          <% c.chat_room.chats.each do |chat| %>
            <% unless chat.user.nil? or chat.user == current_user %>
              <%= link_to chat.user.username,c.user %>
            <% end %>
            <% unless chat.lawyer.nil? or chat.user == current_user %>
              <%= link_to chat.lawyer.username, c.lawyer %>
            <% end %>
            <% unless chat.company.nil? or chat.user == current_user %>
              <%= link_to chat.company.username, c.company %>
            <% end %>
          <% end %>
      </dl></li>
    <% end %>
  </ul>
  <% end %>
