<div class="complaint">
    <div class="form-container">
      <div>
        <h2 class="complaint-attach">Nuevo mensaje</h2>
        
        <%= form_tag(message_create_path, :method => :post,:id => 'new_msg') do %>
          <%= label_tag 'Asunto'%>
          <%= text_field_tag 'asunto',nil,:placeholder => 'ej: Reclamo XX'%><br>
          Para:
          <p id="personas-tags-div">
          </p>
          <p>
          <input class="no-border" type="text" name="target" id="message_to" placeholder="ej: Juan Pérez"/>
          </p>
          <p class="new_post">
          <%= text_area_tag 'mensaje','',:placeholder => 'Escribe un mensaje',:id=>'new_post',:rows => 10, :cols => 60 %><br>
          
           <%= submit_tag "Enviar mensaje",:class=>'btn btn-primary btn-small',:id=>'send_message' %>
          </p>
        <% end %>
      </div>
    </div>
</div>
