<div class="complaint"><div id="posts_list" class="posts_list">
  <h2 class="comentario"><%= @chatroom.name %></h2>
  <p>
    Entre:
    <% @chats.each do |c| %>
      <% unless c.user.nil? %><%= link_to c.user.username,c.user %><% end %>
      <% unless c.lawyer.nil? %><%= link_to c.lawyer.username, c.lawyer %><% end %>
      <% unless c.company.nil? %><%= link_to c.company.username, c.company %><% end %>
    <% end %>
  </p>
  <% @messages.each do |m| %>
    <div class="post">
      <div class="post-info">
        <div class="left">
          <span class="complaint-author">
            <span class="creator_name">
              <% unless m.user.nil? %><%= link_to m.user.username,m.user %><% end %>
              <% unless m.lawyer.nil? %><%= link_to m.lawyer.username, m.lawyer %><% end %>
              <% unless m.company.nil? %><%= link_to m.company.username, m.company %><% end %>
            </span>
            hace <%= time_ago_in_words(m.created_at)%>
          </span>
        </div>
      </div>
      <p class="post-body">
        <%= m.text %>
      </p>
    </div>
  <% end %>
  <div class='new_post'>
    <%= form_tag 'send_message',:method => "post",:id => 'create_comment' do %>
    <%= hidden_field_tag "chatroom",@chatroom.id %>
    <%= text_area_tag :message,'',:placeholder => 'Escribe un mensaje',:id=>'new_post',:rows => 10, :cols => 60 %><br>
    <%= submit_tag "Enviar mensaje",:class=>'btn btn-primary btn-small' %> <span id='new_post_invalid'></span>
    <% end %>
  </div>
</div>
