<%= render "home/admin_header" %>

<div id="admin_content">

  <% if(@lawyers.size>0) %>
    <%= form_tag 'accept' do %>
      <table>
        <tr>
          <th>Username</th>
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Curriculum</th>
          <th>Marcar</th>
        </tr>

      <% @lawyers.each do |lawyer| %>
        <tr>
          <td><%= lawyer.username %></td>
          <td><%= lawyer.first_name %></td>
          <td><%= lawyer.last_name %></td>
          <td><%= link_to 'Ver curriculum',"../assets/uploads/curriculums/#{lawyer.curriculum_path}"  %></td>
          <td>
          <%= link_to image_tag('aceptar.png', :size => '25x25', :title => 'Aceptar'), {:action => "accept", :lawyer => lawyer.id, :accion =>'aceptar' }, data: { confirm: 'Estas seguro?' } %>
          <%= link_to image_tag('eliminar.gif', :size => '20x20', :title => 'Rechazar'), {:action => "accept", :lawyer => lawyer.id, :accion =>'rechazar' }, data: { confirm: 'Estas seguro?' } %>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>
  <% else %>
    En estos momentos no hay abogados en la lista de espera.
  <% end %>
</div>

  <%= render "home/admin_footer" %>
