<% if current_is_admin == true %>
  <%= render "home/admin_header" %>
  <div id="admin_content">
<% end %>

<% if @lawyers.count > 0 %>
  <h1>Abogados</h1>

  <table>
    <tr>
      <th>Username</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Curriculum</th>
      <th>Aceptado<th>
    <% if current_is_admin == true %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
    </tr>

  <% @lawyers.each do |lawyer| %>
    <tr>
      <td><%= lawyer.username %></td>
      <td><%= lawyer.first_name %></td>
      <td><%= lawyer.last_name %></td>
      <td><%= link_to 'curriculum',"assets/uploads/curriculums/#{lawyer.curriculum_path}"  %></td>
      <td><%= lawyer.accepted %></td>
    <% if current_is_admin == true %>
      <td><%= link_to 'Show', lawyer %></td>
      <td><%= link_to 'Edit', edit_lawyer_path(lawyer) %></td>
      <td><%= link_to 'Destroy', lawyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  No hay abogados registrados.
<% end %>

<% if current_is_admin == true %>
  </div>
  <%= render "home/admin_footer" %>
<% end %>
