<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @lawyer.username %>
</p>

<p>
  <b>Password:</b>
  <%= @lawyer.password %>
</p>

<p>
  <b>First name:</b>
  <%= @lawyer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @lawyer.last_name %>
</p>

<p>
  <b>Curriculum path:</b>
  <%= link_to 'curriculum',"uploads/curriculum/#{@lawyer.curriculum_path}"  %>
</p>


<%= link_to 'Edit', edit_lawyer_path(@lawyer) %> |
<%= link_to 'Back', lawyers_path %>
