<%= render "home/admin_header" %>

<div id="admin_content">

  <% if(@companies.size>0) %>
    <%= form_tag 'accept' do %>
      <table>
        <tr>
          <th>Nombre empresa</th>
          <th>Email encargado</th>
          <th>Username login</th>
          <th>Marcar</th>
        </tr>

      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.email %></td>
          <td><%= company.username %></td>
           <td>
          <%= link_to image_tag('aceptar.png', :size => '25x25', :title => 'Aceptar'), {:action => "accept", :company => company.id, :accion =>'aceptar' }, data: { confirm: 'Estas seguro?' } %>
          <%= link_to image_tag('eliminar.gif', :size => '20x20', :title => 'Rechazar'), {:action => "accept", :company => company.id, :accion =>'rechazar' }, data: { confirm: 'Estas seguro?' } %>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>
  <% else %>
    En estos momentos no hay Empresas en la lista de espera.
  <% end %>

</div>

<%= render "home/admin_footer" %>
