<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Username:</b>
  <%= @company.username %>
</p>

<p>
  <b>Password:</b>
  <%= @company.password %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
